
<script type="text/template" id="job">
	<td class='job__id table__cell'> 
		<%= id %> 
	</td>
	<td class='job__name table__cell'> 
		<%= name %> 
	</td>

	<td class='job__dashboard-type table__cell'> 
		<%= dashboardType.replace('_', ' ') %> 
	</td>

	<td class='job__sa-profile table__cell'> 
		<%= salesforceAnalyticsProfile.name %> - <%=salesforceAnalyticsProfile.applicationName%> 
	</td>
	<td class='job__status job__status_type_<%= status.toLowerCase() %> table__cell' style='cursor : pointer;' title="<%= messages %>" onclick="alert(this.title == '' ? 'No messages' : this.title )">
	</td>
	<td class='job__user table__cell'> 
		<%= user %> 
	</td>
	<td class='job__action table__cell table__cell_actions1'> 
		<% if (status === 'PENDING') { %> <button class='job__cancel-btn btn btn-sm btn-info'>Cancel</button> <% } %>
		<% if (status !== 'PENDING') { %> <button class='job__delete-btn btn btn-sm btn-danger'>Delete</button>  <% } %>
	</td>	
</script>

<script type="text/template" id="dashboardSteps">
	<div id="<%= id %>" name="<%= id %>" class="panel panel-default clearfix">
		<div class="panel-heading">Datasets</div>
	</div>
</script>
