.button {}

.button_type_add {
	margin-bottom: 10px;
	margin-right: 2px;
}
.button_type_refresh {
	float:right;
}

.btn-primary {
	background-color: @btn-color;
	border-color: darken(@btn-color, 10%);
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
	background-color: darken(@btn-color, 5%);
	border-color: darken(@btn-color, 5%);
}
