.form-group .select2{
	width: 100% !important;
}
.form-group.no-label label { display:none; }

.panel {
	clear:both;
	margin:0 15px;
}
.panel + .panel {
	margin-top:10px;
}
.panel-heading {
	margin-bottom:15px;
	padding:6px 15px;
	font-weight:bold;
}
