@main("Sign In") {
<div class="signin">
	<div class="signin-header">
		<div class="signin-logo">Cervello</div>
		<div class="app-title signin-title"><span>Google Analytics </span><span><i>to</i> Salesforce Wave</span></div>
	</div>
	<div class="signin-form">
		<h3>Please sign in</h3>
		<form method="post" action="/signin">
			<div class="user-form__username form-group">
				<label for="username" class="sr-only">Email address</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
			</div>
			<div class="user-form__password form-group">
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
			</div>
			<button class="btn btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
</div>
}