@main("Dashboard") {
	<header class="header">
		@components.topMenu("dashboard")
	</header>
	<main class="main">
		<div class="content">
			<h1 class="content__header">Manage jobs</h1>
			<section class="content__main"></section>
		</div>
	</main>
	@views.html.components.backbone.templates.common()
	@views.html.components.backbone.templates.dashboard()
	<script>
		$.blockUI.defaults.message = '';
		$.blockUI.defaults.ignoreIfBlocked = true;
		$.blockUI.defaults.baseZ = 1500;

		$(function () {
			$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
			
			if (!window.Models) window.Models = {};
			if (!window.Collections) window.Collections = {};
			if (!window.Views) window.Views = {};
			
			var Models 		= window.Models,
				Collections = window.Collections;

			
			// job and jobs list
			
			Models.Job = Backbone.Model.extend({
				urlRoot : '/dashboard/job'
			});
			
			Collections.Jobs = new Backbone.Collection([], {
				model : Models.Job
			});
			
			Collections.Jobs.url = '/dashboard/jobs';
			Collections.Jobs.fetch({ reset	: true });

			
			// salesforce profiles list
			Models.SalesforceProfile = Backbone.Model.extend({
				urlRoot : '/salesforce/profile'
			});
			
			Collections.SalesforceProfiles = new Backbone.Collection([], {
				model : Models.SalesforceProfile
			});
			
			Collections.SalesforceProfiles.url = '/dashboard/salesforce_profiles';
			Collections.SalesforceProfiles.fetch({
				reset 	: true
			});
			
			//dashboard type model
			Collections.DashboardTypes = new Backbone.Collection([], {});
			Collections.DashboardTypes.fetch({
				url 	: '/dashboard/templates',
				reset	: true
			});

		});
	
	</script>
	<script src='@routes.Assets.at("javascripts/pages/dashboard/index.js")'></script>
}